<link rel="stylesheet" href="{{ 'component-accordion-faq.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-accordion-faq.css' | asset_url | stylesheet_tag }}</noscript>

<div id="{{ uid }}">
    {% for faq in faqs %}
        <button type="button" class="component-accordion-faq__item">
            {{ faq.question }}
        </button>
        <div class="component-accordion-faq__content">
            {{ faq.answer }}
        </div>
    {% endfor %}
</div>

<script>
window.addEventListener('DOMContentLoaded', () => {
  if(!eventBus) {
    console.warn('Instance of EventBus not found. Search will not work')
    return
  }

  eventBus?.on('faqSearch', (data) => {
     console.log(data)
  })

  const coll = document
    .getElementById('{{ uid }}')
    .getElementsByClassName('component-accordion-faq__item')

  for (let i = 0; i < coll.length; i++) {
    coll[i].addEventListener('click', function() {
      this.classList.toggle('component-accordion-faq__item--active')
      this.nextElementSibling.classList.toggle('component-accordion-faq__content--visible')
    })
  }
})
</script>
