<link rel="stylesheet" href="{{ 'component-accordion-faq.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-accordion-faq.css' | asset_url | stylesheet_tag }}</noscript>

<div id="{{ uid }}">
	{% for faq in faqs %}
		<button type="button" class="component-accordion-faq__item">
			{{ faq.question }}
		</button>
		<div class="component-accordion-faq__content">
			{{ faq.answer }}
		</div>
	{% endfor %}
</div>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const faqs = document
      .getElementById("{{ uid }}")
      .getElementsByClassName("component-accordion-faq__item");

    for (let i = 0; i < faqs.length; i++) {
      faqs[i].addEventListener("click", function () {
        this.classList.toggle("component-accordion-faq__item--active");
        this.nextElementSibling.classList.toggle(
          "component-accordion-faq__content--visible"
        );
      });
    }

    const handleSearch = debounce((searchStr = "") => {
      searchStr = searchStr.trim().toLowerCase();

      for (let i = 0; i < faqs.length; i++) {
        const faq = faqs[i]

        if (searchStr && faq.nextElementSibling.innerText
	        .toLocaleLowerCase()
          .includes(searchStr)
        ) {
          removeAllHighlights(faq.nextElementSibling)
          addHighlights(faq.nextElementSibling, searchStr)
          openFAQ(faq)
          console.log(searchStr)
        } else {
          closeFAQ(faq)
          removeAllHighlights(faq.nextElementSibling)
        }
      }
    }, 300);

    if (!eventBus) {
      console.warn("Instance of EventBus not found. Search will not work");
      return;
    }

    eventBus?.on("faqSearch", handleSearch);

    function openFAQ(faq) {
      faq.classList.add("component-accordion-faq__item--active");
      faq.nextElementSibling.classList.add(
        "component-accordion-faq__content--visible"
      );
    }

    function closeFAQ(faq) {
      faq.classList.remove("component-accordion-faq__item--active");
      faq.nextElementSibling.classList.remove(
        "component-accordion-faq__content--visible"
      );
    }

    function addHighlights(htmlElement, query) {
      const re = new RegExp(`(${query})`, 'gmi')
      htmlElement.innerHTML = htmlElement.innerText.replaceAll(re, '<mark>$1</mark>')
    }

    function removeAllHighlights(htmlElement) {
      let innerHtml = htmlElement.innerHTML
      innerHtml = innerHtml.replaceAll('<mark>', '')
      innerHtml = innerHtml.replaceAll('</mark>', '')
      htmlElement.innerHTML = innerHtml
    }
  });
</script>
