<link rel="stylesheet" href="{{ 'component-accordion-faq.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-accordion-faq.css' | asset_url | stylesheet_tag }}</noscript>

<div class="component-accordion-faq" id="{{ uid }}">
	<div class="component-accordion-faq__stub">
		<h2>sorry!</h2>
		<h2>we cant find a match.</h2>
		<p>Please review the word or try another search.</p>
	</div>
	{% for faq in faqs %}
		<button type="button" class="component-accordion-faq__item">
			{{ faq.question }}
		</button>
		<div class="component-accordion-faq__content">
			{{ faq.answer }}
		</div>
	{% endfor %}
</div>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const component = document.getElementById("{{ uid }}")

	  const stub = component.querySelector('.component-accordion-faq__stub')
    const faqs = component.getElementsByClassName("component-accordion-faq__item")

    for (let i = 0; i < faqs.length; i++) {
      faqs[i].addEventListener("click", function () {
        this.classList.toggle("component-accordion-faq__item--active");
        this.nextElementSibling.classList.toggle(
          "component-accordion-faq__content--visible"
        );
      });
    }

    const handleSearch = debounce((searchStr = "") => {
      const stubVisibleClass = 'component-accordion-faq__stub--visible'
      stub.classList.remove(stubVisibleClass)

      searchStr = searchStr.trim().toLowerCase();

      let matches = 0
      for (let i = 0; i < faqs.length; i++) {
        const faq = faqs[i]

        if (searchStr && faq.nextElementSibling.innerText
	        .toLocaleLowerCase()
          .includes(searchStr)
        ) {
          matches++
          removeAllHighlights(faq.nextElementSibling)
          addHighlights(faq.nextElementSibling, searchStr)
          openFAQ(faq)
        } else {
          closeFAQ(faq)
          removeAllHighlights(faq.nextElementSibling)
        }
      }

      if(!matches && searchStr) stub.classList.add(stubVisibleClass)
    }, 300);

    if (!eventBus) {
      console.warn("Instance of EventBus not found. Search will not work")
      return;
    }

    eventBus?.on("faqSearch", handleSearch);

    function openFAQ(faq) {
      faq.classList.add("component-accordion-faq__item--active")
      faq.nextElementSibling.classList.add(
        "component-accordion-faq__content--visible"
      )
    }

    function closeFAQ(faq) {
      faq.classList.remove("component-accordion-faq__item--active")
      faq.nextElementSibling.classList.remove(
        "component-accordion-faq__content--visible"
      )
    }

    function addHighlights(htmlElement, query) {
      const re = new RegExp(`(${query})`, 'gmi')
      htmlElement.innerHTML = htmlElement.innerText.replaceAll(re, '<mark>$1</mark>')
    }

    function removeAllHighlights(htmlElement) {
      let innerHtml = htmlElement.innerHTML
      innerHtml = innerHtml.replaceAll('<mark>', '')
      innerHtml = innerHtml.replaceAll('</mark>', '')
      htmlElement.innerHTML = innerHtml
    }
  })
</script>
