<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-main-faq.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-main-faq.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
    <h1 class="main-page-title page-title h0">
        {{ page.title | escape }}
    </h1>
    <div class="rte">
        {% for block in section.blocks %}
            <button type="button" class="collapsible">{{ block.settings.title }}</button>
            <div class="content">
                <p>{{ block.settings.answer }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{{ 'section-main-faq.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "t:sections.main-faq.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "name": "t:sections.main-faq.items",
      "type": "faq",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "FAQ Title Example"
        },
        {
          "type": "text",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
